<% if (user.Keywords && user.Keywords.length > 0) { %>
<p>Keywords:
  <% user.Keywords.forEach(function (tag) { %>
  <div>
  <a href="#"><%= keywords.name %></a>
  </div>
  <% }) %>
<p>
<% } %>



<% } else { %>

  <div id="container">
      <% if (articleList !== []) { %>
        <% articleList.forEach(function (article) {%>

          <div class="articlediv">

                <!-- <a href="https://twitter.com/share"
                class="twitter-share-button"
                data-counturl="<%= article.url %>"
                data-count="vertical"
                data-text="<%= article.title %> by <%= article.twitter %>: <%= article.url %>"
                data-related="twitterdev:Twitter Developer Relations">
                Tweet
                </a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script><br> -->


                <a href="<%= article.url %>"> <%=article.title%></a>
                <br> <%=article.date%> <br> <%= article.source %>

                <% if (article.summary !== undefined) {%>
                  <p>"<%= article.summary %>"</p>
                <% } %>

          </div>
        <% }) %>
      <% } %>
  </div>


<% if (isAuthenticated) { %>
  <div class="keyworddiv">
    <% if (keywordList.length > 0) { %>
        <% keywordList.forEach(function (keyword) { %>
        <button type="button" class="btn btn-md">
          <form method="post" action="/delete/keyword/<%= keyword.id %>?_method=delete"><button><span class="glyphicon glyphicon-remove removebtn"></span></button></form>


          <span><a href="/search?keyword=<%= keyword.name %>"><%= keyword.name%></a></span>
        </button>
      <% }) %>
    <% } %>
  </div>
<% } %>


// articleTemp.imgurl = "https://nytimes.com/" + (article.multimedia[0].url);

