<% include partials/header %>



<p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control" placeholder="SEARCH KEYWORD" autofocus>
    </div>
  </form>
</p>

  <% if (isAuthenticated) { %>
  <div class="instructions">
Search a term. Then press the "+" to add keyword to
    <button><a href="/my/keywords">MY KEYWORDS PAGE</a></button>. Please note no delete capability available yet, add wisely.
  <div>
<% } %>

<div class="keyworddiv">
    <button type="button" class="btn btn-md">
        <a href="/addkeyword/<%= keyword %>">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
          <span><a href="/search?keyword=<%= keyword %>">  <%=  keyword %></a></span>
    </button>
</div>

  <div id="container">
    <% if (articleList !== []) { %>
      <% articleList.forEach(function (articleObj) {%>
          <% articleObj.guardian.forEach(function (article) { %>

            <div class="articlediv">



              <h4><a href="<%= article.url %>"> <%=article.title%></a></h4>
                 <br> <%=article.date%> <br> <%= article.source %>

                 <br><br>Keyword: <%= article.keyword %><br>
                 <p>
              <a href="https://twitter.com/share"
              class="twitter-share-button"
              data-counturl="<%= article.url %>"
              data-count="horizontal"
              data-text="<%= article.title %> by <%= article.twitter %>: <%= article.url %>"
              data-related="twitterdev:Twitter Developer Relations">
              Tweet
              </a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              </script><br>
              </p>
                 <br>

            </div>
          <% }) %>

          <% articleObj.nyt.forEach(function (article){ %>

            <div class="articlediv">

              <h4><a href="<%= article.url %>"><%=article.title%></a></h4>
              <br> <%=article.date%> <br> <%= article.source %>

              <% if (article.summary !== undefined) {%>
                <p>"<%= article.summary %>"</p>
              <% } %>
              <br><br>Keyword: <%= article.keyword %>
                 <p>
              <a href="https://twitter.com/share"
              class="twitter-share-button"
              data-counturl="<%= article.url %>"
              data-count="horizontal"
              data-text="<%= article.title %> by <%= article.twitter %>: <%= article.url %>"
              data-related="twitterdev:Twitter Developer Relations">
              Tweet
              </a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              </script><br>
              </p>
            </div>

          <% })%>
      <% }) %>
    <% } %>
  </div>


<% include partials/footer %>



