<% include partials/header %>

<br>
<h1 class="masthead"> The Monitor </h1>
<br>

<p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control" placeholder="Search">
    </div>
  </form>
  </p>


      <!-- Loop over all the articles in articleList -->
      <% articleList.forEach(function (article) {%>

      <!-- Only show the results that are movies -->
      <!-- (i.e., do not show TV shows) -->
      <!-- Show the title and the imdbID -->
      <div class="col-md-3 article">    <a href="<%= article.url %>"> <%=article.title%> </a><br>
              <%=article.date%> <%= article.source %>
              <% if (article.summary !== undefined) {%>
              <p>"<%= article.summary %>"</p>
            <% } %>
      <% if (article.imgurl !== undefined) {%>
              <img src="<%= article.imgurl %>" alt="thumbnail">
            <% } %>
      </div>
      <!-- Close the `forEach` -->
      <% }) %>

<% include partials/footer %>