<% include partials/header %>


<br>
<h1 class="masthead"> The Monitor </h1>
<br>

<p>
  <form action="/search" method="GET">
    <div class="form-group" >
      <input type="text" name="keyword" id="keyword" size="30" class="form-control" placeholder="Search">
    </div>
  </form>
  </p>


<% if (isAuthenticated) { %>
<% if (keywordList.length > 0) { %>
<p><% keywordList.forEach(function (keyword) { %>
  <div>
    <a href="#"><%= keyword.name %></a>
  </div>
  <% }) %>
<p>
<% } %>
<% } %>





<div class="col-md-12" id="container">
<% if (articleList !== []) { %>
      <!-- Loop over all the articles in articleList -->
      <% articleList.forEach(function (article) {%>
      <div class="col-md-3 article">

      <a href="https://twitter.com/share"
      class="twitter-share-button"
      data-via="your_screen_name"
      data-counturl="<%= article.url %>"
      data-count="vertical"
      data-text="<%= article.title %> by <%= article.twitter %>: <%= article.url %>"
      data-related="twitterdev:Twitter Developer Relations"
      >Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script><br>


      <a href="<%= article.url %>"> <%=article.title%></a>
             <br> <%=article.date%> <br> <%= article.source %>

      <% if (article.summary !== undefined) {%>
              <p>"<%= article.summary %>"</p>
            <% } %>

      </div>

      <% }) %>
<% } %>
</div>

<% include partials/footer %>